@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/global.scss';
@import '../../../assets/styles/mixins.scss';

.banner-container {
  height: 270px;
  widows: 100%;
  display: flex;
  flex-direction: column;
  background-color: $mainPurple;
  color: white;
  position: relative;

  .center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    .text-container {
      position: absolute;
      top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .headline {
        font-size: 2.4rem;

        @include adjustSearchBar {
          font-size: 2.1rem;
        }
        @include largeSmartPhone {
          margin-top: .3em;
          font-size: 1.9rem;
        }
      }

      .subtitle {
        margin-top: .3em;
        font-size: 1.25rem;
        text-align: center;

        @include tableBreak {
          font-size: 1.18rem;
          line-height: 1.5em;
        }
        @include adjustSearchBar {
          font-size: 1rem;
        }
        @include largeSmartPhone {
          font-size: .95rem;
          width: 95%;
        }
      }
    }
  }
  .header {
    a {
      color: white;
    }
  }

}