@import "../../../assets/styles/variables.scss";
// @import "../../assets/styles/mixins/mediaqueries.scss";

.rectangular-button {
  background-color: $darkPurple;
  color: white;
  border: 3px solid white;
  padding: .35em;
  border: none;
  border-radius: .2em;
  font-weight: bold;
  width: 120px;
  font-size: 1.15rem;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}