@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.rectangular-button {
  background-color: $darkPurple;
  color: white;
  border: 3px solid white;
  padding: .34em;
  font-weight: bold;
  width: 100px;
  font-size: 1.1rem;
  transition: .3s;

  @include extraLargePhone {
    width: 80px;
    font-size: .95rem;
    height: 32px;
    padding: initial;
    border: 2px solid white;
  }

  &:hover {
    background-color: $mainPurple;
    color: white;
    cursor: pointer;
  }
}