@import "../../../assets/styles/variables.scss";

.main-button {
  background-color: $darkBlue;
  color: white;
  padding: .5em;
  border: none;
  border-radius: .1em;
  // border: 3px solid white;
  background-color: $cardPurple;
  font-weight: 900;
  width: 190px;
  font-size: 1.42rem;
  transition: .4s;

  &:hover {
    background-color: #4e0d9c;
    color: white;
    cursor: pointer;
  }
}