@import "../../../assets/styles/variables.scss";
// @import "../../assets/styles/mixins/mediaqueries.scss";

.main-button {
  background-color: $darkBlue;
  color: white;
  padding: .5em;
  border: none;
  border-radius: .2em;
  font-weight: 900;
  width: 190px;
  font-size: 1.42rem;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}