@import '../../assets/styles/variables.scss';
@import '../../assets/styles/global.scss';

.dashboard-page-container {
  height: 100vh;
  position: relative;
  background-color: $lightGray;

  .sales-dashboard-content {
    background-color: $lightGray;
    padding-top: .4em ;
    padding-bottom: 1.2em ;
    flex-direction: column;
    display: flex;
    align-items: center;

    .dashboard-information {
      margin-top: 1em;
      font-size: 1.4rem;
      color: #3a3a3a;
    }

    .dashboard-table {
      margin-top: 2em;
      // bottom: 1em;
      width: 800px;
    }

    .dashboard-table {
      width: 800px;
    }
  }
}