
//* Verificar no futuro se este arquivo e mesmo necessario
//* pode ser substituido pelo arquivo de estilos do
//* formulario de SIGN UP

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .signup-form-content {
    h4 {
      font-size: 1.6rem;
      margin-bottom: .3em;
    }

    label {
      margin-top: .9em;
    }

    .inputs-container {
      margin-top: -.5em;
      display: flex;

      justify-content: space-between;
      align-items: center;

      input[type="text"] {
        width: 160px;
        font-size: .82rem;
      }
    }

    .redirect-text {
      margin-top: .9em;
    }

    .main-button {
      font-size: 1.2rem;
      padding: .6em .45em;
      margin-top: .9em;
    }
  }
}