@import '../../assets/styles/variables.scss';

.dashboard-page-container {
  // background-color: $mainPurple;
  height: 100vh;

  .banner-container {
    height: 43%;
    widows: 100%;
    background-color: $mainPurple;
    color: white;

    // Temporário
    .header {
      a {
        color: white;
      }
    }
  }
}