@import '../../assets/styles/variables.scss';

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  widows: 100%;
  height: calc(100vh - 104px);

  .signup-form-container {
    margin-bottom: 104px;
  }
}