@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.dashboard-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 100%;
  
  .navbar-items {
    position: absolute;
    bottom: 40px;
    width: 520px;
    display: flex;
    justify-content: space-between;
    
    @include adjustSearchBar {
      margin-bottom: -.6em;
    }
    @include tableBreak {
      width: 415px;
    }
    @include adjustSearchBar {
      width: 320px;
    }
    @include largeSmartPhone {
      width: 265px;
    }
    
    a {
      text-decoration: none;
    }
    button {
      width: 160px;
      height: 50px;
      font-size: 1.3rem;
      background-color: $mainPurple;

      @include tableBreak {
        width: 120px;
        font-size: 1.05rem;
        height: 46px;
      }
      @include adjustSearchBar {
        width: 94px;
        font-weight: initial;
        font-size: .95rem;
        height: 38px;
      }
      @include largeSmartPhone {
        width: 85px;
        font-size: .87rem;
        height: 37px;
      }
      
      &:hover {
        background-color: $darkPurple;
      }
    }
  }

  .current-option {
    button {
      transition: initial;
      background-color: $lightRed;
      &:hover { 
        background-color: $lightRed;
      }
    }
  }
}