@import '../../assets/styles/variables.scss';
@import '../../assets/styles/global.scss';
@import '../../assets/styles/mixins.scss';

.dashboard-page-container {
  background-color: $lightGray;
  overflow-x: hidden;

  .dashboard-content {
    min-height: 500px;
    background-color: $lightGray;
    padding: 1.9em 0;
    flex-direction: column;
    display: flex;
    align-items: center;

    .dashboard-information {
      margin-top: 1em;
      font-size: 1.4rem;
      color: #3a3a3a;
      text-align: center;

      @include extraLargePhone {
        font-size: 1.2rem;
        width: 90%;
      }
    }

    .dashboard-table {
      margin-top: 2em;
      width: 800px;

      @include tableBreak {
        width: 570px;
      }
      @include adjustSearchBar {
        width: 468px;
      }
      @include extraLargePhone {
        width: 92%;
      }
    }
  }
}