$small-smartphone-width: 310px;
$large-smartphone-width: 400px;
$desktop-width: 1024px;

@mixin largeSmartPhone {
  @media (max-width: #{$large-smartphone-width}) {
    @content;
  }
}

@mixin smallSmartPhone {
  @media (max-width: #{$small-smartphone-width}) {
    @content;
  }
}

@mixin smallDesktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}