$lightBlue: #7C75EB;
$darkBlue: #170EA4;
$grayForInputs: #E9E9E9;
$placeholderGray: #949494;

$mainPurple: #984CF8;
$darkPurple: #7231B4;
$lightRed: #FD6767;
$danger: #FF4E4E;
$lightGray: #F3F3F3;
$darkSubtitle: #424242;
$searchButtonGray: #EEEEEE;
